*  {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{ 
    height: 100%; 
    background-image: url(../img/swiss-mountains-1362975.jpg);
    font-family: "Montserrat", sans-serif; 
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

.w3-row-padding img {margin-bottom: 12px}

/* Defina a largura da barra lateral em 120px */
.w3-sidebar {width: 120px;background: #222;}

/* Adicione uma margem esquerda ao "conteúdo da página" que corresponda à largura da barra lateral (120px) */
#main {margin-left: 120px}

/* logo principal no cabeçario parte superior esquerdo */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

/* Remova as margens do "conteúdo da página" em telas pequenas */
@media only screen and (max-width: 600px) {
    #main {margin-left: 0}
}

@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}


/* ---------------------------------------------- INICIO DO NAVBAR ------------------------------------------------- */

nav {
  height: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*background-color: rgb(6, 152, 249);*/
  background-color: rgb(57, 142, 198);
}

.menu ul {
  display: flex;
  align-items: center;
  font-weight: 500;
}

.menu ul a {
  padding: 30px;
  font-size: 100%;
  color: rgba(255, 255, 255, 1);
}

.menu li a:hover {
  /*color: rgb(131, 169, 92); */
  color: 	rgb(204, 0, 51);
  background-color: rgb(158, 204, 164);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

footer {
  background-color: rgb(57, 142, 198);
  padding: 10px;
  text-align: center;
  color: white;

}

/* ------------------------------------------------- FIM DO NAVBAR --------------------------------------------------------- */